// colors
$color__black: #000000;
$color__white: #FFFFFF;

$color__silver: #C0C0C0;

$color__purple: #6669C6;

$color__grey__99: #FFFBFE;
$color__grey__95: #F5EFF7;
$color__grey__80: #CAC5CD;
$color__grey__70: #AEA9B1;
$color__grey__60: #938F96;
$color__grey__10: #1D1B20;

// typography
$font__fallback: sans-serif;

$font__regular: 'Roboto-Regular', $font__fallback;
$font__bold: 'Roboto-Bold', $font__fallback;
$font__medium: 'Roboto-Medium', $font__fallback;
$font__medium: 'Roboto-Thin', $font__fallback;
